LLM_BASE_URL=https://penguin-architects-sie-descending.trycloudflare.com/v1
LLM_API_KEY=my_secret_token_123
LLM_MODEL=openai/gpt-oss-20b
EMBEDDING_MODEL_NAME=microsoft/harrier-oss-v1-270m
EMBEDDING_QUERY_PROMPT_NAME=web_search_query
EMBEDDING_MAX_SEQ_LENGTH=1024
